.bg-body-tertiary {
  background-color: white !important;
}
.nav-link {
  color: #0c1b9b !important;
  font-family: "Jost", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.navbar-brand {
  color: #0c1b9b !important;
  font-family: "Jost", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}
.dropdown-item {
  color: #0c1b9b !important;
  font-family: "Jost", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.header-profile-pic {
  border-radius: 0.25rem !important ;
}
.header-tab {
  color: black !important;
  font-family: "Jost", serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  align-items: center;
  align-self: center;
}
.login-header-btn{
  background-color: black;
  color: white;
  font-weight: 500 !important;
  font-size: 16px;
  border-radius: 10px;
}