.line {
  border-bottom: 1px solid #ebf0fc;
}
.main-src-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  border-color: #0c1b9b;
  background-color: #0c1b9b;
}
.form-control {
  border-radius: 5px !important;
  background: #fff !important;
  border-color: #fff !important;
  font-family: "Jost", serif !important;
  border-color: #e1e5ef !important;
}
.header-highlights {
  color: #2d2d2d;
  font-family: Cardo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card {
  border-radius: 10px;
  border-color: #fff;
  border: 1px solid #d2d8ea;
}
.job-style {
  color: #52575c;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.company-name {
  color: #547ee9;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.city-name {
  color: #a9a9a9;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-career-opp {
  color: #394ae4;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-career-opp-mobile {
  color: #394ae4;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.career-bg-img {
  background-image: url("../img/Vector-3.svg");
  background-repeat: no-repeat;
  width: fit-content;
}
.blog-header {
  color: #394ae4;
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-header-mobile {
  color: #2d2d2d;
  font-family: Cardo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-first-text {
  color: #0c1b9b;
  font-weight: 600;
  font-family: Cardo;
  font-size: 72px;
}
.job-location {
  color: #a9a9a9;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-title {
  color: #52575c;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sss-main-header {
  color: #52575c;
  font-family: Cardo;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-sss-p{
  color: #52575C;
font-family: Cardo;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 145% */
}
.roadmap-title{
  color: #52575C;
font-family: Cardo;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media (max-width: 767px) {
  .main-first-text{
    color: #0c1b9b;
    font-weight: 600;
    font-family: Cardo;
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  
}
@media (min-width: 1024px) {
 
}