.accordion-header {
  border-color: white !important;
}
.accordion-button {
  font-family: Cardo !important;
  font-weight: 600 !important;
  color: #0a0a0a !important;
  font-size: 20px !important;
  border: #e2e2e2 solid 1px;
  border-radius: 10px;
}
.accordion-item {
  font-family: Cardo !important;
  border-color: white !important;

  background-color: white !important;
  border-radius: 10px !important;
}
.accordion-button:focus {
  border-color: #e7ecf8 !important;
  outline: 0;
  box-shadow: 0px 4px 100px 4px #dcdfe4 !important;
  border-radius: 10px !important;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color:#ffffff !important;
    box-shadow: 0px 4px 100px 4px #e7ecf8 !important;
    border-radius: 10px !important;
}
